@CHARSET "UTF-8";



.main-div{
	text-align:center;

}
.user-admin{
	text-align:center;
	width: 300px;
    height: 30px;
	margin:10px;
}

.user{
	text-align:center;
	float:left;
	margin:10px;
	width: 120px;
	
}

.user-admin-a{
	font-family: 微软雅黑;
	color: #ffffff;
	text-decoration: none;
	font-size:20px;
}
.sign-up{
	font-family: 微软雅黑;
	color: #ffffff;
	text-decoration: none;
	font-size:10px;
}

.admin{
	text-align:center;
	float:left;
	margin:10px;
	width: 120px;
	font-family: 微软雅黑;
	color: #ffffff;
	text-decoration: none;
	font-size:20px;
}

.input-account{
	text-align:center;
	width: 300px;
    height: 40px;
    margin-top:20px;
    margin-button:20px;
}

.login{
	
	width:300px;
	height:400px;
	margin:auto;
    position:absolute;
    left:50%;
    top:50%;
    margin-left: -150px;
    margin-top:-150px;
	
}

.outest {
	width: 100%;
	height: 100%;
	
	position: relative;
}

.out-of-all-content{
	 width:300px;
     height:auto;
     margin: auto;  
     position: absolute;  
     top: 0; 
     left: 0; 
     bottom: 0; 
     right: 0;
}

.middle{
	text-align: center;
}

.middle-button{
	text-align: center;
	margin:10px;
}
